$color-brown: #815422;
$color-grey: #d9deda;

:host {
  font-family: FF Daxline Pro,Geneva,Trebuchet MS,Tahoma,Verdana,sans-serif;
}

.header {
  padding: 14px 0;
  font-weight: 200;
}

.header__title {
  color: $color-brown
}

.winner-numbers {
  display: flex;
  margin-bottom: 7px;

  .euronumber {
    border: 1px solid $color-brown;
  }
}

.table {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  max-width: 700px;
  border: solid 1px $color-grey;
}

.table__header {
  display: flex;
  flex-direction: row;
  border-bottom: solid 1px $color-grey;
  font-weight: 500;
}
