<ng-container *ngIf="dataReady">
  <div class="header"><span class="header__title">EuroJackpot</span> Results for {{winners.last.date.dayOfTheWeek}} {{winners.last.date.day}} {{winners.last.date.month}} {{winners.last.date.year}}</div>
<div class="winner-numbers">
  <ng-container *ngFor="let key of (winners.last.numbers | keys)"><app-number [number]="winners.last.numbers[key]" [euronumber]="false"></app-number></ng-container>
  <ng-container *ngFor="let key of (winners.last.euroNumbers | keys)"><app-number [number]="winners.last.euroNumbers[key]" [euronumber]="true"></app-number></ng-container>
</div>
<div class="table">
  <div class="table__header">
    <div class="table__cell table__cell--small">Tier</div>
    <div class="table__cell table__cell--large">Match</div>
    <div class="table__cell table__cell--large">Winners</div>
    <div class="table__cell table__cell--large">Amount</div>
  </div>
  <div  class="table__row" *ngFor="let tier of tiers">
    <div class="table__cell table__cell--small">{{tier.tier}}</div>
    <div class="table__cell table__cell--large">{{tier.match}}</div>
    <div class="table__cell table__cell--large">{{tier.winners}}x</div>
    <div class="table__cell table__cell--large">€{{tier.prize}}</div>
  </div>
</div>
</ng-container>
