<ng-container *ngIf="dataReady">
  <div class="header"><span class="header__title">EuroJackpot</span> Results for {{date}}</div>
<div class="winner-numbers">
  <ng-container *ngFor="let key of (winners.last.numbers | keys)"><app-number [number]="winners.last.numbers[key]" [euronumber]="false"></app-number></ng-container>
  <ng-container *ngFor="let key of (winners.last.euroNumbers | keys)"><app-number [number]="winners.last.euroNumbers[key]" [euronumber]="true"></app-number></ng-container>
</div>
<div class="table">
  <div class="table__header">
    <div class="table__cell table__cell--small">Tier</div>
    <div class="table__cell table__cell--large">Match</div>
    <div class="table__cell table__cell--large">Winners</div>
    <div class="table__cell table__cell--large">Amount</div>
  </div>
  <ng-container *ngFor="let tier of tiers"><app-table-row [tier]="tier"></app-table-row></ng-container>
</div>
</ng-container>
